*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 0.8em;
    
}

.navbars-nav{
    

   display:flex;
   padding: 5px;
    font-size: 1.4rem;
    color: rgba(255, 255,255,0.5);
    /* background-color: rebeccapurple; */
}
.navbars  {
    font-size: 1.4rem;
    color: white;
}

.nav-link {
    padding: 5px;
}
.card-title {
    color: #0d6efd;
}
.list-group-item {
    color: #0d6efd; 
}
.card {
    margin-top: 30px;
}
.active{
    color: white;
}
a {
    text-decoration: none;
}
.nav-link:active {
    color: white;
}
.nav-link:hover{
    color: rgba(255, 255,255,0.8);
}
