#container {
    height: 200px;
}
a{
    text-decoration: rebeccapurple;
}
body {
    background-image: url('/images/kk.png');
}
.text-1{
    color: red;
}
.text-2{
    color: rgb(38, 0, 255);
}
.text-3{
    color: antiquewhite;
}
ul li{
    list-style: url()

}