.container
{
    background-color: rgb(173, 171, 206);
    padding: 14px 10px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  body {
    background-image: url('/images/kk.png');
    font-family: 1em;
    padding: 25%;
}