
body{
    margin:0;
    padding:0;
    background-image: url(/Day5/Dangnhap/css/pexels-pixabay-531987.jpg);

}
.form_dang_nhap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:6rem;
    background: rgba(79, 92, 22, 0.8);   
}
.form_dang_nhap .o_nhap input{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom:5rem;

}