body {
    background-image: url(../imeges/ảnh3\ -\ Copy.jpg);
    text-align: center;
}
.box {
    background-color: rgba(30, 25, 30, 0.285);
    height: 350px;
    width: 250px;
    border-radius: 30px;
    padding: 5%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
}
.pass, .user, .user2, .pass2, .login {
    border-radius: 30px;
    font-size: 20px;
    margin-top: 10px;
}
