.content {
    border: 5px solid black;
    border-radius: 20px;
    width: 600px;
    
    margin: 0 auto;
    margin-top: 50px;
}

.box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
    background-color:rgb(44, 131, 44);
} 
.display {
    margin: 20px;
}

#result ,#input {
    width: 100%;
    height: 50px;
    border: none;
}

.keyboard {
    margin: 20px;
}

.number, .operator {
    padding: 10px;
}

hr {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

.btn-toggle {
    width: 70px;
    border-radius: 50px;
    padding: 10px;
    margin-left: 20px;
}