body{
    background-color: #0E1526;
    color: #B4C6E8;
}

.main-time {
    background-color: rgba(55, 50, 50, 0.556);
    color: #38BDF8;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 200px;
    font-size: 30px;
    border-radius: 7px;
}

.set-time {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#second {
    font-size: 25px;
}
#startTime {
    display: block;
}
#stopTime {
    display: none;
}