* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: pink;
  font-size: 1em sans-serif;
}

.login-form {
  background: yellowgreen;
  width: 500px;
  margin: 65px auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
h1 {
  padding: 35px 35px 0 35px;
}
.content {
  padding: 35px;
  text-align: center;
}
.input-field {
  padding: 12px 5px;
}
input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid beige;
  outline: none;
}
.action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background:orangered;
  color:plum;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
}
.action button:hover {
  background: white;
}
.action button:nth-child(2) {
  background:blueviolet;
  color:yellow;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}