.dendo, .denvang, .denxanh{
    height: 50px;
    width: 50px;
    margin:10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-self: space-between;
}
.dendo{background-color: red;}
.denvang{background-color: yellow;}
.denxanh{background-color: green;}
.container{
    background-color: rgb(45, 47, 47);
    width: 13%;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 10%;
}
.cot{
    background-color: rgb(45, 47, 47);
    width: 3%;
    margin: auto;
    display: grid;
    border-radius: 10%;
    text-indent: -999px;
}
.hinh1,.hinh2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    display: inline-block;
}
.hinh1{
    background-color: rgb(33, 52, 176);
    position: absolute;
    top:-1px;
    left: -1px;
}
.hinh2{
    background-color: rgb(189, 225, 44);
    position: absolute;
    right: -1px;
    top: -1px;
}