.test1, .test2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}
.test1 {
    background-color: red;
}
.test2 {
    background-color: black;
    position:absolute;
    right: 5px;
}
.box {
    height: 600px;
    width: 250px;
    background-color: rosybrown;
    
}
 .box1, .box2, .box3 {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    margin: auto;
 }
.box1 {
    background-color: red;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: blue;
}
.cot {
    height: 700px;
    width: 50px;
    background-color: black;
    margin-left: 100px;
}

