* {
  margin: 0;
  padding: 0;
}
  .box {
    display: inline-block;
    padding: auto; 
  }
.container {
  box-sizing: border-box;
  max-width: 100%;
  
}
.container .row .nut button {
  color: rgb(41, 19, 167);
  width: 100%;
  text-align: center;
  background: none;
}
.container .row .img-col-10 img{
  width: 100%;
  height: 300px;
  margin: 20px 0px;
}
.container .row .menu {
  height: 300px;
  width: 25%;
  margin: 20px;
  border: 1px solid rgb(161, 159, 157);

}
.container .row .img-col-10 .menu .dodai{

  }
h3 {
  color: blue;
}
.footer{
  height: 120px;
  background: black ;
  color: white;
  text-align: center;
  padding-top: 35px;
  font-size: 15px;
}
  
