body {
    background-color: rgb(159, 235, 159);
}
.dad {
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
}
.signup {
    background-color: white;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
h1 {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
    color: gainsboro;
}
#firstname, #lastname {
    width: 120px;
    height: 35px;
    margin: 20px 20px 10px;
    border: none;
    background-color: rgb(246, 246, 246);
}
#email, #pw, #confirmpw {
    width: 292px;
    height: 35px;
    margin: 10px 20px 10px;
    border: none;
    background-color: rgb(246, 246, 246);
}
#checkbox {
    margin: 20px 5px 20px 20px;
    cursor: pointer;
}
#btn {
    margin: 20px;
    width: 292px;
    height: 40px;
    background-color: rgb(197, 255, 174);
    border: none;
    color: white;
    font-size: medium;
    cursor: url("https://cdn-icons-png.flaticon.com/128/3119/3119214.png"), auto;
    
}
#btn:hover {
    background-color: rgb(153, 255, 112);
}
a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}
label {
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}