.container-fluid {
   align-content:space-around;
}

.chop {
    width: 62px;
    height: 13px;
    margin-right: 30%;
    margin-left: 35%;
    border-top-left-radius: 180%;
    border-top-right-radius: 180%;
    background-color: gray;
}

.box{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#box-red {
    
    margin-left: 50px;
    background-color: red;
}

#box-black {
    
    margin-right: 50px;
    background-color: black;
}
.container {
    display:inline-block;
    text-align: center;
    width: 612px;
    height: 612px;
    border-color: black;
    background-color: aquamarine;
}
.container-led {
    
    margin-top: 10%;
    margin-left: 31%;
    width: 240px;
    height: 500px;
    /* background-color:wheat; */
    
}
.plan-led {
 
    border:2px solid black;
     margin-left: -3%;

    background-color: gray;
}
.led {
    margin: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    
    border-radius: 50%;

}
.plan-leg {
    margin-left: 20.5%;
    margin-right:33%;
    width: 136px;
    height: 272px;
}
.body-leg{
    margin-top: -3%;
    margin-left: 44%;
    margin-right:33%;
    background-color: rgb(53, 51, 51);
    width: 15px;
    height: 245px;
}
.body-end{
    border:2px solid black;
    border-top-left-radius: 54%;
    border-top-right-radius: 54%;
    margin-left: -1.5%;
    margin-right:33%;
    background-color: gray;
    width: 136px;
    height: 22px;
}
.led-tai {
    
    width: 35px;
    height: 60px;
    background-color: gray;
    border-bottom-right-radius: 116%;
    margin: 8px 0px 8px 0px;
}
.led-tai-left {
    width: 35px;
    height: 60px;
    background-color: gray;
    border-bottom-left-radius: 116%;
    margin: 8px 0px 8px 0px;
}
.plan-tai {
   
    width: 40px;
    height: 215px;
    

    
}

.tong{
    display: inline-flex;
}