.list-element_child {
    background-color: rgb(194, 188, 188);
    position: relative;
    display: flex;
    margin: 10px 0;
    width: 385px;
    border-radius: 5px;
}

.list-element_child button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    border-radius: 5px;
}

.list-element_child p {
    margin-left: 15px;
    margin-right: 40px;
}