* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    padding: 0;
    background-color: rgba(223, 74, 223,0.5);
}


.search-btn {
    background-color: coral;
    padding: 6px 9px 1px 9px;
}
.bx-search {
    font-size: 25px;
}
.user {
    color: antiquewhite;
    padding: 5px;
}

.menu {
    text-align: center;
}

.menu-item {
        display:inline-flex;
        justify-content: space-around;
        padding: 5px 20px;
        font-size: 1rem;
        color: white;
}
.nav-links{
    color: azure;
}
img{
    width: 100%;
    margin: auto;
    /* object-fit: cover; */
}
.col {
    padding: 10px;
    
}
.box {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background-color: azure;
    margin-bottom: 10px;
}
.box img {
    width: 150px;
    height: 150px;
    border-radius:50% ;
    object-fit: cover;
}
.select-banner{
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    
}
.label-box {
    display: inline-flex;
    justify-content:space-between;
}

.select-box {
    margin:20px 0;
    background-color: aliceblue;
    text-align: center;
}

.active_cus {
    margin-top: 10px;
    /* transition: 0.5s; */
    visibility: hidden;
    opacity:100;
}
.items-box {
    
    height: 100px;
    width: 100px;
    padding: 8px;
    border-radius: 50%;
    margin:15px auto auto auto;
    background-color:darkgrey;
    display: flex;
    object-fit: cover;
    
}

.nav-items{
    border: 0.5px solid purple;
    border-radius: 6px;
    
}
.nav-link {
    color: black;
}
.st-service{
    background-color: aliceblue;
    margin-bottom: 20px;
}
.card {
    margin: 10px 0;
}
.card-sv{
    padding: 10px;
}
.cards-body {
    padding: 0;
}

.carousel-item img{
 
   height: 300px;
   width: 100%;
}

.select{
    background-color: aliceblue;
    padding: 15px;
    margin-bottom: 20px;
}

.color-prs {
    display: flex;
    text-align: center;
}
.color-prs img{
    width: 60px;
}

.sale_old {
    border: 0.5px solid gray;
    width: 97%;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.info_extend button {
    border-radius: 5px;
    border: 0.3px solid rgb(219, 211, 211);
    padding: 5px;
    font-size: 0.8rem;

}
.sale_old p {
    margin: unset;
}

table ,th ,tr {
    border: 1px solid rgb(97, 92, 92);
    text-align: left;
    padding: 5px 10px;
    font-weight: unset;
    font-size: 1.1rem;
   
}

.cards {
    border: none;
    padding: 10px;
    margin: 20px 0;
}
.cards .btn {
    font-size: 0.8rem;
    background-color: rgba(219, 210, 210,0.2);
}
.stat i{
    margin: auto;
    font-size: 20px;
    color: yellow;
}

.label_page {
    margin: 40px 0;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(161, 155, 155);
}

.list_imgt {
    margin: 50px;
}
.list_imgt img {
    /* width: 100%;*/
    height: 250px; 
}

a {
    text-decoration: none;
}
p{
    font-size: 1rem;
}
h3 {
    padding-top: 15px;
}
i {
    font-size: 40px;
}
label{
    margin: 5px 0;
}

.select .items-box {
    border-radius: unset;
    border: 1px solid gray;
    background: none;
}
.infor_prs i {
    padding: 0 5px;
    font-size: 1rem;
}

.card:hover .active_cus {
    
    visibility: visible;
    opacity: 100;
}
.card:hover .card-img-top {
    transform: scale(1.2);
}
.user:hover {
    cursor: pointer;
    color: blue;
}